.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.hide-element{
    overflow: hidden;
    transition: height .8s linear;
    height: 0;
}

.show{
    height: auto;
}

.forecast > tbody > tr > td > img {
    height: 50px
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}