html {
    scroll-behavior: smooth;
  }
.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.hide-element{
    overflow: hidden;
    transition: height .8s linear;
    height: 0;
}

.show{
    height: auto;
}

.forecast > tbody > tr > td > img {
    height: 50px
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-city{
    cursor: pointer;
    transition: color .2s linear
}
.carousel-city:hover{
    color: #6c757d;
}

.fade-element{
    animation-name: fade-element;
    animation-duration: 1.5s;
}

@keyframes fade-element{
    from {opacity: .2}
    to {opacity: 1}
}
